
! special colors
 *.foreground:  #9ea7a6
 *.background:  #232c31
 *.cursorColor:  #9ea7a6
 ! black
 *.color0:      #232c31
 *.color8:      #3f4944
 ! red
 *.color1:      #2a5491
 *.color9:      #2a5491
 ! green
 *.color2:      #237986
 *.color10:     #237986
 ! yellow
 *.color3:      #a03b1e
 *.color11:     #a03b1e
 ! blue
 *.color4:      #484d79
 *.color12:     #484d79
 ! magenta
 *.color5:      #c59820
 *.color13:     #c59820
 ! cyan
 *.color6:      #b02f30
 *.color14:     #b02f30
 ! white
 *.color7:      #9ea7a6
 *.color15:     #b5d8f6
!
 URxvt*scrollBar:         false
 URxvt*scrollBar_right:   false
!
 URxvt*transparent:       false
!
 URxvt*depth: 32
 URxvt.background: [0]#232c31
!
 URxvt.font:xft:SourceCodePro:pixelsize=18:antialias=true:hinting=true
 URxvt.boldFont:xft:DejaVu Sans Mono:bold:pixelsize=18:antialias=true:hinting=true
 *antialias:  true
 *autohint:   false
!
 URxvt.perl-ext-common: default,matcher
 URxvt.url-launcher: firefox
 URxvt.matcher.button: 1
!
!
Xft.autohint: 0
Xft.antialias: 1
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.dpi: 96
Xft.rgba: rgb
Xft.lcdfilter: lcddefault
